* {
  font-family: 'Lateef', cursive;
  font-size: 22px;
}

body {
  margin: 0;
  height: 100vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  height: 3rem;
  width: 10rem;
  border: none;
  border-radius: 10px;
  font-size: 1.5rem;
}

.game {
  width: 60%;
  height: 70%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.data {
  position: relative;
  top: 5%;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.controls {
  position: relative;
  bottom: 15%;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

#counter {
  text-align: center;
  flex-grow: 2;
  font-size: 4rem;
}

#div-collect-counter {
  text-align: center;
  flex-grow: 1;
  font-size: 1.5rem;
  color: #42f4a7;
}

#div-balloon-counter {
  text-align: center;
  flex-grow: 1;
  font-size: 1.5rem;
}

#canvas {
  /*border: 1px solid black;*/
}

#pump {
  color: white;
  background-color: #42b0f4;
}

#collect {
  color: white;
  background-color: #42f4a7;
}

#bag-of-money {
  /*for later use*/
}
