  body {
  font-family: 'PT Sans', sans-serif;
  color: #000000;
  background-color: #7F8DA4;
  /*background-color: #F8F8F8;*/
  margin: 0;
}

a, span, h1 {
  font-family: 'Lateef', cursive;
}

.guideline-container {
  background-color: white;
  margin: 4% 4% 1% 4%;
  padding: 2% 5% 2% 5%;
}

.guideline-title {
  text-align: center;
  color: red;
  font-size: 1.5em;
}

.gameInstructions__info {
  font-size: 0.6em;
}

.guideline-body {
  margin: 2% 15% 2% 15%;
  text-align: center;
  font-size: 1.5em;
}

.guideline-button-container {
  margin: 3% 0% 3% 0%;
  text-align: center;
}

.guideline-button {
  font-size: 1em;
  border-radius: 1em;
  padding: 1% 2% 1% 2%;
  text-decoration: none;
  background: #D5D5D5;
  transition: width 0.4s ease;
  cursor: pointer;
  outline: none;
  border: none;
}

.guideline-button:hover .guideline-button:click {
  background: #D8D8D8;
  text-decoration: none;
}

.dropbtn {
  background-color: #fbe5c9;
  color: #000;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 0.5em;
}

.dropdown {
  position: relative;
  display: inline-block;
  right: 3.5%;
  font-size: 1em;
  border-radius: 1em;
  text-decoration: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fbe5c9;
  /*min-width: 160px;*/
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  /*padding: 12px 16px;*/
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: grey
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #fbe5c9;
