body {
  font-family: 'PT Sans', sans-serif;
  color: #000000;
  background-color: #7F8DA4;
  /*background-color: #F8F8F8;*/
  margin: 0;
}

.guideline-container {
  background-color: white;
  margin: 4% 4% 1% 4%;
  padding: 2% 5% 2% 5%;
}

.guideline-title {
  text-align: center;
  color: red;
  font-size: 1.5em;
}

.gameInstructions__info {
  font-size: 0.6em;
}

.guideline-body {
  margin: 2% 15% 2% 15%;
  text-align: center;
  font-size: 1.5em;
}

.guideline-button-container {
  margin: 3% 0% 3% 0%;
  text-align: center;
}

.guideline-button {
  font-size: 1em;
  border-radius: 1em;
  padding: 1% 2% 1% 2%;
  text-decoration: none;
  background: #D5D5D5;
  transition: width 0.4s ease;
  cursor: pointer;
  outline: none;
  border: none;
}

.guideline-button:hover .guideline-button:click {
  background: #D8D8D8;
  text-decoration: none;
}