body{
  height:100vh;
  margin:0;
}

section{
  height:100%;
  width: 100%;
  background: no-repeat center center fixed;
  background-image: url('https://i.amz.mshcdn.com/QwW6lzVcvmWuG4vDtdzrNVoMhuw=/950x534/filters:quality(90)/https%3A%2F%2Fblueprint-api-production.s3.amazonaws.com%2Fuploads%2Fcard%2Fimage%2F520380%2F28604e42-35b6-4fee-8a1e-5805b9cc6d48.jpg');
  background-color: black;
  display:flex;
  flex-direction: column;
  text-align: center;
}

#caption>h2{
  font-size:3rem;
  text-align: right;
  padding-right: 10%;
  margin:0;
  color:white;
}

#caption>h4{
  font-size: 1.5rem;
  margin:0;
  text-align: right;
  padding-right: 10%;
  color:white;
}

#caption{
  position: relative;
  top: 15%;
}

.button{
  position:absolute;
  height:3rem;
  padding:0.5rem;
  bottom: 10%;
  border: 0.1rem solid #42f492;
  border-radius: 1rem;
  width:10rem;
  background-color: #42f492;
  display:flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.centering{
  text-align: center;
  display:flex;
  justify-content:center;
}

a{
  text-decoration: none;
  color: white;
}
