* {
  font-family: 'Lateef', cursive;
}

nav {
  font-family: 'PT Sans', sans-serif;
  margin: 0;
  border-bottom: 1px solid black;
  background-color: #6d747f;
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
  padding: 1rem 0 1rem 0;
}

.link {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  left: 5%;
}

.link>a {
  text-decoration: none;
  color: white;
}

.user {
  flex-grow: 3;
  text-align: right;
  color: white;
  position: relative;
  right: 7%;
}
