nav {
  /*font-family: 'PT Sans', sans-serif;*/
  -webkit-font-smoothing: antialiased;
  margin: 0;
  border-bottom: 1px solid black;
  background-color: #6d747f;
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
  padding: 1rem 0 0.4rem 0;
}

.link {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  left: 5%;
  z-index: 1;
}

.link>a {
  text-decoration: none;
  color: white;
}

.userEn {
  z-index: 0;
  flex-grow: 3;
  text-align: right;
  color: white;
  position: relative;
  right: 13%;
  width: 50%;
  top: -5px;
}

.userAr {
  flex-grow: 3;
  text-align: right;
  color: white;
  position: relative;
  right: 10%;
}
