body{
  font-family: 'PT Sans', sans-serif;
  color: #000000;
  background-color: white;
}

.traitContainer {
  height: 100%;
  box-sizing: border-box;
}

.traitsSidebar {
  display: block;
}

.image {
  width: 25%;
  height: 25%;
}
